{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 올리기</title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}" />
  </head>
  <body>
    <form action="/create" method="post">
      <header>
        <div class="title">
          <a href="/">my<span>Movie</span>reviews</a>
        </div>
        <div class="add">
          <a href="/create">Add a New review</a>
        </div>
      </header>

      {% csrf_token %}
      <div class="container">
        <div class="container-header"><span>Movie</span> review 🍿</div>
        <div class="container-contents">
          <div class="container-content">
            제목: <input type="text" name="title" />
          </div>
          <div class="container-content">
            개봉년도: <input type="number" name="year" />
          </div>
          <div class="container-content">
            장르: <input type="text" name="type" />
          </div>
          <div class="container-content">
            별점: <input type="text" name="star" />
          </div>
          <div class="container-content">
            러닝타임: <input type="number" name="time" />
          </div>
          <div class="container-content">
            리뷰:<br />
            <textarea name="review" id="" cols="50" rows="10"></textarea>
          </div>
          <div class="container-content">
            감독: <input type="text" name="director" />
          </div>
          <div class="container-content">
            배우: <input type="text" name="actor" />
          </div>
        </div>
        <div class="save">
          <input type="submit" value="Save" />
        </div>
      </div>
    </form>
  </body>
</html>
