{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 올리기</title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}" />
  </head>
  <body>
    <form action="/update/{{movie.id}}" method="post">
      {% csrf_token %}
      <header>
        <div class="title">
          <a href="/">my<span>Movie</span>reviews</a>
        </div>
        <div class="add">
          <a href="/create">Add a New review</a>
        </div>
      </header>
      <div class="container">
        <div class="container-header"><span>Movie</span> review 🍿</div>
        <div class="container-contents">
          <div class="container-content">
            제목: <input type="text" name="title" value="{{movie.title}}" />
          </div>
          <div class="container-content">
            개봉년도: <input type="number" name="year" value="{{movie.year}}" />
          </div>
          <div class="container-content">
            장르: <input type="text" name="type" value="{{movie.type}}" />
          </div>
          <div class="container-content">
            별점: <input type="text" name="star" value="{{movie.star}}" />
          </div>
          <div class="container-content">
            러닝타임: <input type="number" name="time" value="{{movie.time}}" />
          </div>
          <div class="container-content">
            리뷰:<br />
            <textarea name="review" id="" cols="50" rows="10">
{{movie.review}}</textarea
            >
          </div>
          <div class="container-content">
            감독:
            <input type="text" name="director" value="{{movie.director}}" />
          </div>
          <div class="container-content">
            배우: <input type="text" name="actor" value="{{movie.actor}}" />
          </div>
        </div>
        <div class="save">
          <input type="submit" value="Save" />
        </div>
      </div>
    </form>
  </body>
</html>
