<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/b453b8b1fc.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% for post in posts %}
    <div class="post-id-{{ post.id }}">
      <div>{{ post.content }}</div>
      <div
        class="post__like"
        onclick="onClickLike({{ post.id }}, 'like')"
        style="cursor: pointer"
      >
        {% autoescape off %} {{ post.like }} {% endautoescape %}
      </div>
    </div>
    {% endfor %}
    <a href="./create">++++++++</a>
    <script>
      //1️⃣
      const requestLike = new XMLHttpRequest();
      const onClickLike = (id) => {
        //파라미터로 서버로 보낼 데이터의 id(포스트 id)
        const url = "/like_ajax/"; //요청을 보낼 url -> urls.py에 등록해야함
        requestLike.open("POST", url, true); //POST 방식으로 비동기로 서버에 요청
        requestLike.setRequestHeader(
          // header에 포함하고자하는 내용들
          "Content-Type",
          "application/x-ww-form-urlencoded"
        );
        requestLike.send(JSON.stringify({ id: id })); //JSON 형태로 id와 type를(데이터를) 서버에 보내기(요청)
      };
      // 서버에서 request 처리를 해서 다시 클라이언트로 보내준 것
      requestLike.onreadystatechange = () => {
        if (requestLike.readyState === XMLHttpRequest.DONE) {
          // requestLike의 값이 변할때마다 자동으로 실행됨
          likeHandleResponse(); //응답받을 준비가 완료
        }
      };

      //views.py에서 post.like +=1한거는 데이터(DB)에만 반영돼서
      // 새로고침없이 html에서 보이는 값을 바꾸기 위해서 js에서 Number(num) + 1을 하는 것
      const likeHandleResponse = () => {
        if (requestLike.status < 400) {
          // 상태값이 정상적임(에러아님)
          const { id, message, status } = JSON.parse(requestLike.response); // 서버에서 들어온 JSON 응답값을 다시 자바스크립트에서 쓸 수 있게 형변환
          const element = document.querySelector(`.post-id-${id} .post__like`);
          console.log(message);
          console.log(status);
          if (message == "좋아요")
            element.innerHTML =
              '<i class="fa-solid fa-heart" style="color:red"></i>';
          //채워진하트
          else element.innerHTML = '<i class="fa-solid fa-heart"></i>'; //빈하트
        }
      };
    </script>
  </body>
</html>
