<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/b453b8b1fc.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% for post in posts %}
    <div class="post-id-{{ post.id }}">
      <div>{{ post.content }}</div>
      <div
        class="post__like"
        onclick="onClickLike({{ post.id }}, 'like')"
        style="cursor: pointer"
      >
        {% autoescape off %} {{ post.like }} {% endautoescape %}
      </div>
      <div onclick="onClickdel({{post.id}})" style="cursor: pointer">
        <i class="fa-regular fa-trash-can"></i>
      </div>
    </div>
    {% endfor %}
    <form action="" method="post">
      {% csrf_token %}
      <input type="text" name="content" placeholder="댓글달기" />
      <input type="submit" value="게시" />
    </form>
    <script>
      //1️⃣
      const requestLike = new XMLHttpRequest();
      const onClickLike = (id) => {
        const url = "/like_ajax/";
        requestLike.open("POST", url, true);
        requestLike.setRequestHeader(
          "Content-Type",
          "application/x-ww-form-urlencoded"
        );
        requestLike.send(JSON.stringify({ id: id }));
      };
      requestLike.onreadystatechange = () => {
        if (requestLike.readyState === XMLHttpRequest.DONE) {
          likeHandleResponse();
        }
      };
      const likeHandleResponse = () => {
        if (requestLike.status < 400) {
          const { id, message, status } = JSON.parse(requestLike.response);
          const element = document.querySelector(`.post-id-${id} .post__like`);
          console.log(message);
          console.log(status);
          if (message == "좋아요")
            element.innerHTML =
              '<i class="fa-solid fa-heart" style="color:red"></i>';
          else element.innerHTML = '<i class="fa-solid fa-heart"></i>';
        }
      };
      const requestdel = new XMLHttpRequest();
      const onClickdel = (id) => {
        const url = "/delete_ajax/";
        requestdel.open("POST", url, true);
        requestdel.setRequestHeader(
          "Content-Type",
          "application/x-ww-form-urlencoded"
        );
        requestdel.send(JSON.stringify({ id: id }));
      };
      requestdel.onreadystatechange = () => {
        if (requestdel.readyState === XMLHttpRequest.DONE) {
          if (requestdel.status < 400) {
            const { id } = JSON.parse(requestdel.response);
            const element = document.querySelector(`.post-id-${id}`);
            element.remove();
          }
        }
      };
    </script>
  </body>
</html>
