<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 올리기</title>
  </head>
  <body>
    <header>
      <a href="{% url 'posts:create' %}">아이디어 등록</a>
      <a href="/">아이디어 관리</a>
      <a href="{% url 'posts:dev' %}">개발툴 관리</a>
      <a href="{% url 'posts:dev_create' %}">개발툴 등록</a>
    </header>
    <div>
      <h1>Idea Register</h1>
      <div>
        아이디어 등록 페이지 입니다. 당신의 아이디어를 잊지 말고 기록하세요!
      </div>
    </div>
    <form
      action="{% url 'posts:create' %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div>
        <div>아이디어명:</div>
        <input type="text" name="title" />
      </div>
      <div>
        <div>Image:</div>
        <input type="file" name="image" />
      </div>
      <div>
        <div>아이디어 설명:</div>
        <textarea name="content" id="" cols="30" rows="10"></textarea>
      </div>
      <div>
        <div>아이디어 관심도:</div>
        <input type="number" name="interest" />
      </div>
      <div>예상 개발툴:</div>
      <select name="devtool" id="">
        {% for tool in tool_list %}
        <option value="{{ tool }}">{{ tool }}</option>
        {% endfor %}
      </select>

      <div>
        <input type="submit" value="제출" />
      </div>
    </form>

    <a href="{% url 'posts:home' %}">Home</a>
  </body>
</html>
