<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>개발툴 관리</title>
  </head>
  <body>
    <header>
      <a href="{% url 'posts:create' %}">아이디어 등록</a>
      <a href="/">아이디어 관리</a>
      <a href="{% url 'posts:dev' %}">개발툴 관리</a>
      <a href="{% url 'posts:dev_create' %}">개발툴 등록</a>
    </header>
    {% for tool in tools %}
    <article>
      <a href="{% url 'posts:dev_detail' tool.id %}">{{tool.name}}</a>
      <p>{{tool.type}}</p>
      <p>{{tool.content}}</p>
    </article>
    {% endfor %}
  </body>
</html>
