<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>개발툴 관리</title>
  </head>
  <body>
    <header>
      <a href="{% url 'posts:create' %}">아이디어 등록</a>
      <a href="/">아이디어 관리</a>
      <a href="{% url 'posts:dev' %}">개발툴 관리</a>
      <a href="{% url 'posts:dev_create' %}">개발툴 등록</a>
    </header>
    <form
      action="{% url 'posts:dev_update' tool.id %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div>
        <div>이름:</div>
        <input type="text" name="name" value="{{tool.name}}" />
      </div>
      <div>
        <div>종류:</div>
        <input type="text" name="type" value="{{tool.type}}" />
      </div>
      <div>
        <div>아이디어 설명:</div>
        <textarea name="content" id="" cols="30" rows="10">
{{tool.content}}</textarea
        >
      </div>

      <div>
        <input type="submit" value="제출" />
      </div>
    </form>
  </body>
</html>
