<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세화면</title>
  </head>
  <body>
    <header>
      <a href="{% url 'posts:create' %}">아이디어 등록</a>
      <a href="/">아이디어 관리</a>
      <a href="{% url 'posts:dev' %}">개발툴 관리</a>
      <a href="{% url 'posts:dev_create' %}">개발툴 등록</a>
    </header>
    <article>
      <h2>{{ tool.name }}</h2>
      <div>{{tool.type}}</div>
      <div>{{tool.content}}</div>
      <hr />
      <div>만들 수 있는 SW 목록</div>
      {% for post in all_post %}
      <div><a href="{% url 'posts:detail' post.id %}">{{post.title}}</a></div>
      {% endfor %}
    </article>
    <div><a href="{% url 'posts:dev_update' tool.id %}">update</a></div>
    <form action="{% url 'posts:dev_delete' tool.id %}" method="post">
      {% csrf_token %}
      <button>삭제</button>
    </form>
    <div><a href="{% url 'posts:dev' %}">목록</a></div>
  </body>
</html>
