<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈 화면</title>
  </head>
  <body>
    <header>
      <a href="{% url 'posts:create' %}">아이디어 등록</a>
      <a href="/">아이디어 관리</a>
      <a href="{% url 'posts:dev' %}">개발툴 관리</a>
      <a href="{% url 'posts:dev_create' %}">개발툴 등록</a>
    </header>
    <div>
      <h1>Idea List</h1>
      <div>나의 아이디어를 잊지 말고 기록해보세요</div>
    </div>
    <form action="" method="GET">
      {% csrf_token %}
      <select id="sort" name="sort" onchange="this.form.submit();">
        <option value="none">--정렬기준--</option>
        <option value="star">찜하기순</option>
        <option value="name">이름순</option>
        <option value="createAt">등록순</option>
        <option value="updateAt">최신순</option>
      </select>
    </form>

    {% for post in posts %}
    <article>
      <div>
        <img src="{{ post.image.url }}" alt="" />
      </div>
      <a href="{% url 'posts:detail' post.id %}">
        <h1>{{post.title}}</h1>
      </a>
      <p>예상 개발 툴 : {{post.devtool.name}}</p>
      <p>아이디어 관심도 : {{post.interest}}</p>
    </article>
    {% endfor %}
  </body>
</html>
