* {
  box-sizing: border-box;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
/* 사용자 눈에는 보이지 않지만 스크린 리더로는 읽힌다 vs display : none; */
/* 
# : id, 고유한 것 
. : class, 같은 class 여러 번 사용 가능! 
하나의 태그에 여러 개의 클래스 적용하려면 띄어쓰기로 구분하기
*/

div#header-center {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
  vertical-align: middle;
}

div#header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  /* 
  background-image: url(./sp_search.png); //경로 대신 주소 적어줘도 됨
  background-position: -10px -10px; //왼쪽 위
  background-repeat: no-repeat; //이미지가 공간을 채우기 위해 반복되지 않음
  >> 얘네 다 한방에 background로 줄일 수 있다 
  */
  background: url(./sp_search.png) -4px -4px no-repeat;

  /* text-indent: 100%; 글자 들여쓰기*/
  /* overflow: hidden; h1 공간 바깥으로 나간 글자 안보이게 하기*/
}

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;

  /* 
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 0px; 
  >> 북 동 남 서 시계방향 순서대로 합칠 수 있다!
  */

  padding: 12px 0 12px 10px;

  width: 521px;
  height: 49px;
  /* only content 크기! border까지 합한 값으로 설정해 줘야함 */

  display: inline-block;

  border: 2px solid #03cf5d; /*북동남서 다 같으면 한번에 적을 수 있음, hex color 표기법 */
  /* 
  box-sizing: content-box; 디폴트값 ( only content ) 
  box-sizing: border-box;  border, padding 다 합친 걸로!! 
  */
  vertical-align: middle;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
}

/* vertical-align은 display가 inline / inline-block 일 때만 적용됨 */
