* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#fixed {
  position: fixed;
  top: 50px;
  right: 50px;

  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

div#header-center {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
  vertical-align: middle;
}

div#header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;

  background: url(./sp_search.png) -4px -4px no-repeat;
  position: relative;
  top: -5px;
}

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  padding: 12px 0 12px 10px;

  width: 521px;
  height: 49px;
  display: inline-block;

  border: 2px solid #03cf5d;

  vertical-align: middle;

  position: relative;
}

#header-search fieldset input {
  width: 405px;
  height: 23px;

  border: none;
  padding: 0;
  outline: none;

  vertical-align: top;
  /* 기본은 vertical-align: baseline; */
  /* input의 디폴트는 inline-block >> width, heigth 지정가능 */
}

#header-search fieldset button {
  width: 49px;
  height: 49px;

  border: none;
  padding: 0;

  background: #03cf5d;

  position: absolute;
  right: -2px;
  top: -2px;
}

#header-search fieldset button .search-image {
  background: url(./sp_search.png) -3px -60px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin: 14px;

  /* 
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  */
}
/* 버튼이 세로 가운데 정렬이 안되는 이유는
이미 버튼이 기본적으로 세로 가운데 정렬을 하기 때문! */

/* 
MDN 사이트 참조
block format context 
stacking context
*/

/* 
position이 static일 때는 부모가 containing block!

position이 static이거나 relative면
어떤 태그가 display-online인 경우에는 
그 블럭은 containing block이 될 수 없고 그 부모까지 올라간다

position: relative; //원래의 static 위치로부터 얼마나 떨어졌는가?
position: absolute; //태그의 containing block으로부터 얼마나 떨어졌는가? 
>> 기본 containing block은 html이다!
>> top, right, bottom, left 주지 않아도 static에서 벗어남

position: fixed; //위치가 어디에 있든 containing block이 그냥 화면!!
 */
