header {
  height: 70px;
}

header,
body {
  background-image: url(./github-background.png);
}

footer {
  background: white;
}

.center-align {
  margin: 0 auto;
  width: 1080px;
}

#left-header ul {
  float: left;

  margin-top: 25px;
  margin-left: 0;
  list-style: none;
}

#left-header li {
  float: left;
  margin-right: 10px;
  color: white;
}

#right-header ul {
  float: right;

  margin-top: 25px;
  list-style: none;
}

#right-header li {
  float: left;
  margin-right: 10px;
  color: white;
}

#main-container {
  display: inline-block;
  width: 1080px;
  height: 550px;
}

#description {
  float: left;

  width: 540px;
  height: 550px;

  padding-top: 100px;
}

#description h1 {
  font-size: 65px;
  color: white;

  line-height: 60px;
}

#description p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(172, 172, 172);

  padding-right: 60px;
}

#login {
  float: left;

  width: 540px;
  height: 550px;
}

#login-box {
  background: white;
  border-radius: 2%;

  width: 440px;
  height: 500px;

  margin: 0 40px 0;
  padding: 30px;
}

#login-box .title span:first-child {
  font-size: 13px;
  font-weight: 700;
  color: rgb(88, 88, 88);
}

#login-box .Email input {
  background: white;
}

#login-box input {
  background: rgb(233, 242, 255);
  border-radius: 3%;
  border: 1px solid lightgray;

  width: 380px;
  height: 40px;

  margin: 0 0 15px;
}

#login-box .lines {
  font-size: 11px;
  font-weight: 600;
  color: rgb(121, 121, 121);

  line-height: 10px;
}

#login-box a {
  font-size: 11px;
  font-weight: 500;
  color: rgb(52, 116, 255);

  line-height: 8px;
}
